body {
  font-family: "Montserrat", sans-serif;
}

.mpt {
  padding-top: 12rem !important;
}

.title {
  font-family: "Fira Sans", sans-serif;
  font-weight: bolder;
  font-size: 6rem;
  background: radial-gradient(
    circle farthest-corner at 22.4% 21.7%,
    rgba(4, 189, 228, 1) 0%,
    rgba(2, 83, 185, 1) 100.2%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.125;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.sectitle {
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  color: #000;
  line-height: 1.125;
}

.sectitle-gradient {
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  background: radial-gradient(
    circle farthest-corner at 22.4% 21.7%,
    rgba(4, 189, 228, 1) 0%,
    rgba(2, 83, 185, 1) 100.2%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  line-height: 1.125;
}

.cardtitle {
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  color: #001f3f;
  line-height: 1.125;
}

.subtitle {
  font-size: 2.5rem;
  color: black;
  font-weight: bold;
}

.secsubtitle {
  font-size: 2rem;
  color: #001f3f;
}

.navbar-item {
  color: #001f3f !important;
  font-weight: bold;
  font-size: 16px;
}

.navbar-item:hover {
  color: #001f3f !important;
}

.is-active {
  font-weight: 600;
  color: white !important;
}

.is-fb {
  background-color: #2d88ff;
  border: #2d88ff;
  color: white;
}

.myBtn {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Fixed/sticky position */
  bottom: 20px;
  /* Place the button at the bottom of the page */
  right: 30px;
  /* Place the button 30px from the right */
  z-index: 99;
  /* Make sure it does not overlap */
  border: none;
  /* Remove borders */
  outline: none;
  /* Remove outline */
  background: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(226, 37, 37, 1) 0%,
    rgba(211, 49, 49, 1) 82.8%
  );
  /* Set a background color */
  color: white;
  /* Text color */
  cursor: pointer;
  /* Add a mouse pointer on hover */
  padding: 15px;
  /* Some padding */
  border-radius: 10px;
  /* Rounded corners */
  font-size: 18px;
  /* Increase font size */
}

.back_to_top-show {
  display: block;
}

#skills > div > div > div > div > div > div > i {
  font-size: 4rem;
}

.dev-icons:hover {
  outline: none;
  border-radius: 10px;
  border-color: #001f3f;
  box-shadow: 0 0 20px #001f3f;
  padding: 25px;
  height: 92px;
  width: 152px;
}

#skills > div > div > div > div > div > div > i:hover {
  outline: none;
  border-radius: 10px;
  border-color: #001f3f;
  box-shadow: 0 0 20px #001f3f;
  padding: 25px;
  font-size: 7rem;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="is-"] {
    width: 100%;
  }
  .header {
    background-image: linear-gradient(
      141deg,
      #001f3f 0%,
      #00468c 71%,
      #0066cc 100%
    );
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    background-size: cover;
    height: 100%;
  }
  .navbar-burger {
    color: white !important;
    cursor: pointer;
    display: block;
    height: 3.25rem;
    position: relative;
    width: 3.25rem;
    margin-left: auto;
  }
  .title {
    font-size: 4rem;
  }
  .subtitle {
    font-size: 1.5rem;
  }
  .sectitle {
    font-size: 2.5rem;
  }
}

@media only screen and (min-width: 800px) {
  /* For mobile phones: */
  [class*="is-"] {
    width: 100%;
  }
  .subtitle {
    padding-bottom: 30px;
  }
}

.primaryBtn {
  background-color: transparent;
  border-color: #0066cc;
  color: #0066cc;
}
.primaryBtn:hover {
  background: radial-gradient(
    circle farthest-corner at 22.4% 21.7%,
    rgba(4, 189, 228, 1) 0%,
    rgba(2, 83, 185, 1) 100.2%
  );
  color: white;
}

#projects {
  background: radial-gradient(
    circle farthest-corner at 22.4% 21.7%,
    rgba(4, 189, 228, 1) 0%,
    rgba(2, 83, 185, 1) 100.2%
  );
  margin: 0 5% 0 5%;
  border-radius: 15px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
    0 2px 4px rgba(0, 0, 0, 0.07), 0 4px 8px rgba(0, 0, 0, 0.07),
    0 8px 16px rgba(0, 0, 0, 0.07), 0 16px 32px rgba(0, 0, 0, 0.07),
    0 32px 64px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
    0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
    0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.sectitle-projects {
  font-family: "Fira Sans", sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  color: white;
  line-height: 1.125;
}

.card {
  border-radius: 5px;
}

.footer {
  box-sizing: border-box;
  padding-top: 190px;
  height: 300px;
}

.elevator {
  text-align: center;
  cursor: pointer;
  width: 140px;
  margin: auto;
}

.elevator:hover {
  opacity: 0.7;
}

.elevator svg {
  width: 60px;
  height: 60px;
  display: block;
  margin: auto;
  margin-bottom: 5px;
}
