body {
    background-color: #020205;
    font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 600px) {
    .container {
        margin: auto;
        width: 50%;
    }
}

.header {
    font-family: 'Fira Sans', sans-serif;
}

.custom-navbar {
    background-color: transparent;
}

.custom-navbar a.nav-link {
    color: white !important;
}

.brand {
    font-size: 60px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.square {
    background-color: white;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.paragraph {
    text-indent: 30px;
    text-align: justify;
    letter-spacing: 1px;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-45%, -45%);
}