html {
    background-color: #fff;
}

.title {
    font-weight: bold;
    font-size: 5rem;
}

.subtitle {
    font-size: 2.5rem;
}

.card-1 {
    border-radius: 15px;
    background-color: #f03861;
    color: white;
}

.card-2 {
    border-radius: 15px;
    background-color: #2d4059;
    color: white;
}

.card-3 {
    border-radius: 15px;
    background-color: #58e481;
    color: white;
}

.card-header {
    border-radius: 15px 15px 0 0;
}

.card-header-title {
    color: white;
}

.card-link{
    color: white;
}

.card-link:hover{
    color: white;
}